@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Albula;
    src: url("./assets/Albula.ttf");
}

:root {
    font-family: Albula, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --color-brown: #9f6f3d;
    --color-brown-light: #776e66;
}

body {
    margin: 0;
    padding: 0;
}
